<!DOCTYPE html>
<html>
<head>
	<title>Edit page</title>
</head>
<body>
	<div>
		<h1>Edit Info</h1> 		
	</div>

	<a href="/home/allcontent"> Back to List</a> |
	<a href="/logout"> logout</a><br>

	<form method="post">
		<table>
			<tr>
				<td>Id</td>
				<td><input type="text" readonly name="id" value="<%=content.id%>"></td>
			</tr>
			<tr>
				<td>ContentName:</td>
				<td><input type="text" name="contentname" value="<%=content.contentname%>"></td>
			</tr>
			<tr>
				<td>ContentType :</td>
				<td><input type="text" name="contenttype" value="<%=content.contenttype%>"></td>
			</tr>
			<tr>
				<td>ContentSize :</td>
				<td><input type="text" name="contentsize" value="<%=content.contentsize%>"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit" value="Update"></td>
			</tr>
		</table>
	</form>
</body>
</html>